body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 0px;
}

header {
  padding: 20px 0;
 
}

header .row,
footer .row {
  display: flex;
  justify-content: center;
 
  
}

header h1 {
  font-weight: 700;
  margin: 0;
  
 
}

header nav {
  
 
}

header p {

}

header input {
	margin-top: 20px;
	width: 128px;
}

.goalbar {
	
	margin-top: 0px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	
}
.currentAchivement{
	justify-content: center;
}
#currentGoal {
	border-bottom: solid 2px;
	border-bottom-color: black;
}

.boton1 {
	border: 
	vertical-align: bottom;
	border-radius: 6px;
	float: right;
	display: none;
}

.hide {
	display: none;
}

input {
	background-color:#D8C0C0;
}

#playerplace {
	padding-top: 20px;
}

.header1 {
	background-color: #background-color: f2f2f2;);
	margin-top: 0px;
}

.boton2 {
	display: none;
}

.adspaceleft {
	
}

.boton3 {
	display: none;
	float:left;
	margin-top: 10px;
	margin-botoom: 10px;
}

.ytp-thumbnail-overlay {
	clear: left;
}

.adlist{
	display:inline-block;
}

.adbanner{
	display:inline-block;
}

.boton4 {
	border: 
	vertical-align: bottom;
	border-radius: 6px;
	float: right;
	display: none;
	margin-right:24px;
	
	rgb(76, 174, 76)
	;
	rgb(76, 174, 76).btn-success
	buttonfaceuser agent stylesheetinput[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button
	initialuser agent stylesheetinput
	border-bottom-left-radius:
	6px
	;
	border-bottom-right-radius:
	6px
	;
	border-bottom-style:
	outset
	;
	border-bottom-width:
	2px
	;
	border-image-outset:
	0px
	;
	border-image-repeat:
	stretch
	;
	border-image-slice:
	100%
	;
	border-image-source:
	none
	;
	border-image-width:
	1
	;
	border-left-color:
	rgb(76, 174, 76)
	;
	border-left-style:
	outset
	;
	border-left-width:
	2px
	;
	border-right-color:
	rgb(76, 174, 76)
	;
	rgb(76, 174, 76).btn-success
	buttonfaceuser agent stylesheetinput[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button
	initialuser agent stylesheetinput
	border-right-style:
	outset
	;
	border-right-width:
	2px
	;
	border-top-color:
	rgb(76, 174, 76)
	;
	border-top-left-radius:
	6px
	;
	border-top-right-radius:
	6px
	;
	border-top-style:
	outset
	;
	border-top-width: 2px
}